@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  src: local("Muli"), url("https://fonts.gstatic.com/s/muli/v7/kU4XYdV4jtS72BIidPtqyw.woff") format("woff");
}
body{
 margin: 0px;
 font-family: "Muli", sans-serif;
 color: #050A0F;
}
header img{
 display: block;
 min-width: 1024x;
}
#page{
 margin: auto;
 padding-top: 40px;
 width: 1024px;
}
nav{
 float: left;
 width: 200px;
 margin-bottom: 40px;
 padding-top: 10px;
 background: #E6E6E6;
 font-size: 1em;
}
section{
 float: right;
 width: 799px;
 padding: 0 0 40px 25px;
}
nav h1{
 margin: 0;
 padding: 0px 0px 10px 20px;
}
nav ul{
 margin: 0;
 padding: 0;
 list-style-type: none;
}
nav li.nav-node{
 margin-bottom 0;
 padding-bottom: 0;
}
nav a{
 display: inline-block;
 color: inherit;
 text-decoration: none;
}
li.nav-link a{
 width: 170px;
 margin: 2px 0;
 padding: 10px 10px 10px 20px;
}
li.nav-link a.selected{
 color: #E6E6E6;
 background-color: #184966;
}
li.nav-link a:hover{
 cursor:pointer;
 color: #E6E6E6;
 background-color: #184966;
 text-decoration: underline;
}
li.nav-leaf a{
 color: #104F8C;
 width: 155px;
 margin: 2px 0;
 padding: 5px 10px 5px 35px;
}
li.nav-leaf a.selected{
 text-decoration: underline;
}
li.nav-leaf a:hover{
 text-decoration: underline;
 cursor:pointer;
}
.nav-node-label{
 width: 170px;
 margin: 2px 0 0 0;
 display: inline-block;
 padding: 10px 10px 10px 20px;
}
.nav-node-label.selected{
 color: #E6E6E6;
 background-color: #184966;
}
h1{
 color: #184966;
}
th {
  text-align: left;
}
form th{
 text-align: right;
}
ul.errorlist{
 margin: 0;
 padding: 0;
 list-style-type: none;
 color: #F00;
}

div.column_left{
 float: left;
 width: 500px;
}
div.column_right{
 float: right;
 width: 299px;
}
div.column_right img{
 display:block;
 margin:auto;
 max-width: 299px;
}
.column_after{
 clear: both;
}
