{% extends "base.html" %}

{% block selected_staff %}selected{% endblock %}
{% block selected_list_users %}selected{% endblock %}

{% block content %}

<h1>Alumni list</h1>

<strong>{{ nb_alumni }}</strong> alumni in the database.

{% for metrics_year in metrics_by_year %}

<h2>Year {{metrics_year.year}}</h2>

<table>
    <tr>
      <th>Name</th>
      <th>email</th>
      <th>year</th>
      <th>photo</th>
      <th>about</th>
      <th>CV</th>
      <th>last visit</th>
    </tr>
    {% for al in metrics_year.alumni_metrics %}
    <tr>
      <td><a href="{% url 'alumnus' al.username %}">{{ al.first_name }} {{ al.last_name }}</a></td>
      <td>{{ al.email }}</td>
      <td>{{ al.year }}</td>
      <td>{% if al.photo %}X{% endif %}</td>
      <td>{{ al.presentation }}</td>
      <td>{% if al.cv %}X{% endif %}</td>
      <td>{{ al.last_visit }}</td>
    </tr>
    {% endfor %}
</table>

{% endfor %}

{% endblock %}
